<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0"/>

    <!-- Import a bunch of fonts, might slow down load times but w/e -->
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Indie+Flower|Josefin+Sans:700|Permanent+Marker|Raleway:700|Satisfy|Sedgwick+Ave+Display" rel="stylesheet">

    <!-- Load up the CSS -->
    <link rel="stylesheet" type="text/css" href="/statics/css/main.css">
    {{#each css}}
      <link rel="stylesheet" type="text/css" href="/statics/css/{{this}}">
    {{/each}}
    {{#each css-ext}}
      <link rel="stylesheet" type="text/css" href="{{this}}">
    {{/each}}

    <!-- Load up JS and jquery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {{#each js-ext}}
      <script src="{{this}}"></script>
    {{/each}}
    <script src="/statics/js/main.js"></script>
    {{#each js}}
      <script src="/statics/js/{{this}}"></script>
    {{/each}}

    <!-- Title -->
    <title>{{#if title}}{{title}}{{/if}}</title>
  </head>

  <!-- BODY -->
  <body style="margin:0;padding:0;">
    {{#if header}}
      {{>header}}
    {{/if}}
    <section id="body">
      {{{ body }}}
    </section>
    {{#if footer}}
      {{>footer}}
    {{/if}}
    <div id="message-container" class="message-container">
      <span class="message"></span>
    </div>
  </body>
</html>
