<html>
  <head>
    <link rel="stylesheet" href="/statics/css/helloworld.css">
  </head>

  <body>
    <header>
      <h1>anotherroute</h1>
    </header>

    <p>HTML Generated entirely using Handlebars.js</p>

    <p>
      You can refer to template variables like this: {{variable1}}
      and like this: {{variable2}}
      <a href="/helloworld">{{variable3}}</a>
    </p>

    <table>
      <thead>
        <tr>
          <th>And you can iterate over arrays</th>
          <th>as shown below</th>
        </tr>
      </thead>
      <tbody>
        {{#each foo_array}}
          <tr>
            <td>{{foo_name}}</td>
            <td>{{foo_value}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>

  </body>
</html>
